# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# dependencies
**/node_modules/
.pnp
.pnp.*
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.log
*.tsbuildinfo
next-env.d.ts

# env files
.env*
.vercel

# secrets (Master Keys)
env-share-655a8-firebase-adminsdk-fbsvc-9f950a920f.json
service-account.json
*.json
!package.json
!tsconfig.json
!plugin.json
!package-lock.json
!firebase.json